body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

header {
    background-color: #333;
    color: blanchedalmond;
    padding: 2em;
    text-align: center;
    background-image: url(gpg.jpg);
    background-size: cover;
    background-position: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#project-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#project-list li {
    margin-bottom: 20px;
}

#project-list img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
}
/* Contact Section Styles */

#contact {
  background-color: #f9f9f9;
  padding: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h3 {
  margin-top: 0;
}

.contact-info a {
  text-decoration: none;
  color: #337ab7;
}

.contact-info a:hover {
  color: #23527c;
}

.contact-form {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #23527c;
}

.address {
  margin-bottom: 20px;
}

.map {
  margin-bottom: 20px;
}

.map iframe {
  border: 0;
}